.DS_Store


lab5/lexer.c
lab5/out.txt
lab5/lexer

lab2.4/main.py
lab2.4/ast.py
lab2.4/parser.py
lab2.4/test.txt
lab2.4/__pycache__/parser.cpython-313.pyc
lab2.4/__pycache__/ast.cpython-313.pyc
lab2.2/__pycache__/parser_edsl.cpython-313.pyc
lab2.4/__pycache__/parser.cpython-313.pyc
lab2.4/__pycache__/ast.cpython-313.pyc
lab2.3/grammer.txt
lab3.3/README.md

lab3.3/__pycache__/parser_edsl.cpython-313.pyc
